---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION, BASE } from "../consts";
import Planning from "../components/Planning.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const planning = (await getCollection("planning")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const content = new Map<number, { post: any; planning: any }>();

posts.forEach((post) => {
  if (!content.has(post.data.pubDate.valueOf())) {
    content.set(post.data.pubDate.valueOf(), { post: post, planning: null });
  }
});

planning.forEach((plan) => {
  if (!content.has(plan.data.pubDate.valueOf())) {
    content.set(plan.data.pubDate.valueOf(), { post: null, planning: plan });
  } else {
    content.set(plan.data.pubDate.valueOf(), {
      post: content.get(plan.data.pubDate.valueOf())?.post,
      planning: plan,
    });
  }
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <section class="hero">
      <h1 class="w-fit mx-auto">{SITE_TITLE}</h1>
      <div class="prose">
        <p>{SITE_DESCRIPTION}</p>
      </div>
    </section>
    <section class="max-w-full">
      <div class="timeline-wrapper">
        <div data-posts={Array.from(content.keys()).length} class="timeline">
          <div class="planning need-padding">
            {
              Array.from(content.keys())
                .sort()
                .map((key) => {
                  const plan = content.get(key)?.planning;
                  if (plan) {
                    return <Planning post={plan} />;
                  } else {
                    return <div class="day-plan" />;
                  }
                })
            }
          </div>
          <div class="line">
            <div class="axis"></div>
            <div class="markings need-padding">
              {
                Array.from(content.keys())
                  .sort()
                  .map((_) => {
                    return <div class="marking" />;
                  })
              }
            </div>
          </div>
          <ul class="post-list need-padding">
            {
              Array.from(content.keys())
                .sort()
                .map((key) => {
                  const post = content.get(key)?.post;

                  if (post) {
                    return (
                      <li>
                        <a class="post-teaser" href={`${BASE}/${post.id}/`}>
                          <div class="info">
                            <h4 class="title">{post.data.title}</h4>{" "}
                            <p class="date">
                              {new Intl.DateTimeFormat("en", {
                                dateStyle: "medium",
                              }).format(post.data.pubDate)}
                            </p>
                          </div>
                          <img
                            class="image"
                            src={`${BASE}/headers/${post.data.heroImage}`}
                            alt={post.data.title}
                          />

                          <div class="description">
                            <p>{post.data.description}</p>
                          </div>
                        </a>
                      </li>
                    );
                  } else {
                    return (
                      <li class="post-teaser-placeholder">
                        {new Intl.DateTimeFormat("en", {
                          dateStyle: "medium",
                        }).format(key)}
                      </li>
                    );
                  }
                })
            }
          </ul>
        </div>
      </div>
    </section>
  </body><script>
    const setupTimeline = () => {
      const width = window.innerWidth / 2 - 250;
      const needPadding = document.getElementsByClassName(
        "need-padding"
      ) as HTMLCollectionOf<HTMLElement>;
      for (let div of needPadding) {
        div.style.marginLeft = `${width}px`;
      }

      const timeline = document.querySelector(".timeline") as HTMLElement;
      if (timeline) {
        const days = (timeline.getAttribute("data-posts") ?? 1) as number;
        timeline.style.width = `${days * 500 + (days - 1) * 100 + width * 2}px`;
      }
    };
    setupTimeline();
    window.addEventListener("resize", setupTimeline);
  </script>
</html>
