---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <section class="hero">
      <h1 class="w-fit mx-auto">{SITE_TITLE}</h1>
      <div class="prose">
        <p>{SITE_DESCRIPTION}</p>
      </div>
    </section>
    <section>
      <div class="timeline-wrapper">
        <div data-posts={posts.length} class="timeline">
          <div class="axis"></div>
          <div class="markings need-padding">
            {posts.map((_) => <div class="marking" />)}
          </div>
          <ul class="post-list need-padding">
            {
              posts.map((post) => (
                <li>
                  <a class="post-teaser" href={`/${post.id}/`}>
                    <div class="info">
                      <h4 class="title">{post.data.title}</h4>{" "}
                      <p class="date">
                        {new Intl.DateTimeFormat("nl-be", {
                          dateStyle: "full",
                        }).format(post.data.pubDate)}
                      </p>
                    </div>
                    <img
                      class="image"
                      src={`/headers/${post.data.heroImage}`}
                      alt={post.data.title}
                    />

                    <div class="description">
                      <p>{post.data.description}</p>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>
  </body><script>
    const width = window.innerWidth / 2 - 250;
    const needPadding = document.getElementsByClassName(
      "need-padding"
    ) as HTMLCollectionOf<HTMLElement>;
    for (let div of needPadding) {
      div.style.marginLeft = `${width}px`;
    }

    const timeline = document.querySelector(".timeline") as HTMLElement;
    if (timeline) {
      const posts = (timeline.getAttribute("data-posts") ?? 1) as number;
      console.log(posts);
      timeline.style.width = `${posts * 500 + (posts - 1) * 100 + width * 2}px`;
    }
  </script>
</html>
