---
import "../styles/demo.css";

interface Props {
  type: "D3" | "GSAP";
  title: string;
}

const { type, title } = Astro.props;

const titleTransformed = title.toLowerCase().replace(/\s/g, "-");
---

<div class="demo">
  <button class="demo-button" id={`title-${titleTransformed}`}
    ><h4 class="title">{title} ({type})</h4><span class="arrow">↓</span></button
  >
  <div id={`content-${titleTransformed}`} class="content">
    <pre class="fps">0</pre>
    <slot />
  </div>

  <script define:vars={{ titleTransformed }}>
    const title = document.getElementById(`title-${titleTransformed}`);
    const content = document.getElementById(`content-${titleTransformed}`);
    const fpsText = document.getElementById("fps");

    if (title && content) {
      title.addEventListener("click", () => {
        title.classList.toggle("hidden");
      });
    }
  </script>
</div>
